/* COLOR PALETTE SWITCHES */

/* DEFAULT */
/* :root {
  --bg-color: #ffffff;
  --text-color: #0e0e0e;
  --header-color: #0e0e0e;
  --link-color: #006699;
  --accent-color: #da7b16;
} */

/* OFF-WHITE - RED ACCENTS */
:root {
  --bg-color: #EEE4D9;
  --text-color: #000000;
  --header-color: #C30606;
  --link-color: #C30606;
  --accent-color: #C30606;
}

/* DARK-GREEN AND OFF-WHITE */
/* :root {
  --bg-color: #151a17;
  --text-color: #f9f1e4;
  --header-color: #ebebeb;
  --link-color: #da7b16;
  --accent-color: #da7b16;
} */

/* LAVENDER MONOTONE */
/* :root {
  --bg-color: linear-gradient(310deg, rgba(47,24,75,1) 58%, rgba(119,57,195,1) 100%);
  --text-color: #9b72cf;
  --header-color: #c8b1e4;
  --link-color: #f4effa;
  --accent-color: #c8b1e4;
} */

/* DARK GREEN MONOTONE */
/* :root {
  --bg-color: #2f3e46;
  --text-color: #84a98c;
  --header-color: #cad2c5;
  --link-color: #cad2c5;
  --accent-color: #cad2c5;
} */

/* BLACK YELLOW AND BLUE */
/* :root {
  --bg-color: #121212;
  --text-color: #979797;
  --header-color: #ebebeb;
  --link-color: #EDAE15;
  --accent-color: #006699;
} */

:root{
  --font-family: "Roboto", serif;
}

/* CSS RESET STARTS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

/* CSS RESET ENDS */

body {
  padding: 0;
  margin: 0;
  /* color: #f3e7d3; */
  color: var(--text-color);
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-style: normal;
  /* background: linear-gradient(180deg, #151a17 0%, #0e0e0e 100%); */
  /* background-color: var(--bg-color); */
  background: var(--bg-color);
}

svg{
  height: 25px;
  width: 25px;
  cursor: pointer;
}

a{
  text-decoration: none;
}

a:visited{
  color: var(--link-color);
  /* color: #0e0e0e; */
}

nav {
  display: flex;
  padding: 1rem 2rem;
  height: 20vh;
  flex-direction: column;
}

.logo {
  padding: 10px 0;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

/* underline animation */
.underline {
  position: relative;
  display: inline-block;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease-in-out;
}

.underline:hover::after {
  width: 100%;
}
/* end underline animation */

.icons {
  text-decoration: none;
  color: var(--text-color);
  padding: 20px 0 5px;
  cursor: pointer;
  margin-right: 1rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 130%;
  color: var(--header-color);
  font-weight: 700;
}

h2 {
  font-size: 1.1rem;
  color: var(--header-color);
}

h3{
  color: var(--header-color);
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

section {
  padding: 2rem;
}

section p{
  font-size: 1rem;
  line-height: 125%;
  padding: 1rem 0;
  text-rendering: optimizeLegibility;
}

#intro{
    padding: 0 2rem;
    margin-bottom: 5rem;
}

#intro p{
    font-size: 1.5rem;
    line-height: 125%;
    max-width: 650px;
}

#projects {
  display: flex;
  flex-direction: column;
}

.project {
  position: relative;
  cursor: pointer;
  margin: 1rem 0 3rem;
  display: flex;
  flex-direction: column;
}

.bon{
  justify-content: flex-start;
  align-items: flex-start;
}

.drp{
  justify-content: flex-end;
  align-items: flex-end;
}

.project img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.project-info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 16px;
  width: 100%;
}

.title {
  text-align: left;
}

.company {
  text-align: right;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
}

#contact h2{
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

#contact h3{
  font-size: 1rem;
  margin: 1rem 0 2rem;
  font-weight: 500;
}

#contact img{
  width: 67%;
}

footer {
  padding: 2rem;
}


