/* COLOR PALETTE SWITCHES */

/* DEFAULT */
/* :root {
  --bg-color: #ffffff;
  --text-color: #0e0e0e;
  --header-color: #0e0e0e;
  --link-color: #006699;
  --accent-color: #da7b16;
} */

/* DARK-GREEN AND OFF-WHITE */
/* :root {
  --bg-color: #151a17;
  --text-color: #f9f1e4;
  --header-color: #ebebeb;
  --link-color: #f9f1e4;
  --accent-color: #da7b16;
} */

/* LAVENDER MONOTONE */
/* :root {
  --bg-color: #A294F9;
  --text-color: #F5EFFF;
  --header-color: #ebebeb;
  --link-color: #E5D9F2;
  --accent-color: #CDC1FF;
} */

/* DARK GREEN MONOTONE */
/* :root {
  --bg-color: #2f3e46;
  --text-color: #84a98c;
  --header-color: #cad2c5;
  --link-color: #cad2c5;
  --accent-color: #cad2c5;
} */

/* BLACK YELLOW AND BLUE */
:root {
  --bg-color: #121212;
  --text-color: #979797;
  --header-color: #ebebeb;
  --link-color: #EDAE15;
  --accent-color: #006699;
}

:root{
  /* --font-family: "Oswald", serif; */
  --font-family: "Roboto", serif;
}

/* CSS RESET STARTS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

/* CSS RESET ENDS */

body {
  padding: 0;
  margin: 0;
  /* color: #f3e7d3; */
  color: var(--text-color);
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-style: normal;
  /* background: linear-gradient(180deg, #151a17 0%, #0e0e0e 100%); */
  background-color: var(--bg-color);
}

a{
  text-decoration: none;
}

a:visited{
  color: var(--link-color);
  /* color: #0e0e0e; */
}

nav {
  display: flex;
  padding: 1rem 2rem;
  height: 20vh;
  flex-direction: column;
}

.logo {
  padding: 10px 0;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

/* underline animation */
.underline {
  position: relative;
  display: inline-block;
}

.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  /* background-color: #da7b16; */
  transition: width 0.3s ease-in-out;
}

.underline:hover::after {
  width: 100%;
}
/* end underline animation */

.email {
  text-decoration: none;
  color: var(--text-color);
  padding: 20px 0;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  line-height: 130%;
  /* color: #f9f1e4; */
  color: var(--header-color);
}

h2 {
  font-size: 1.1rem;
  color: var(--header-color);
}

h3{
  color: var(--header-color);
}

section {
  padding: 2rem;
}

section p{
  font-size: 1.25rem;
  line-height: 125%;
  padding: 1rem 0;
}

#about{
    padding: 0 2rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about p{
    font-size: 1.5rem;
    line-height: 125%;
    max-width: 650px;
}

#projects {
  display: flex;
  flex-direction: column;
}

.project {
  position: relative;
  cursor: pointer;
  margin: 1rem 0 3rem;
  display: flex;
  flex-direction: column;
}

.bon{
  justify-content: flex-start;
  align-items: flex-start;
}

.drp{
  justify-content: flex-end;
  align-items: flex-end;
}

.project img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.project-info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 16px;
  width: 100%;
}

.title {
  text-align: left;
}

.company {
  text-align: right;
}

footer {
  padding: 2rem;
}


/* MODAL STYLES */
.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal p{
  font-size: 1rem;
  line-height: 125%;
  padding: 0 0 2rem 0;
}

.modal-content {
  background-color: #fff;
  color: #0e0e0e;
  padding: 2rem;
  border-radius: 8px;
  height: 60%;
  width: 80%;
  max-width: 500px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.modal-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.modal-logo img {
  width: 50%;
}

.modal-hero{
  width: 100%;
}

.modal-content a{
  color: #0e0e0e;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
/* END OF MODAL STYLES */